<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}"
>
	<div layout:fragment="content" class="container my-4">
	   <table class="table table-striped">
           <thead>
               <tr>
                   <th>번호</th>
                   <th>제목</th>
                   <th>작성자</th>
                   <th>조회수</th>
                   <th>작성일</th>
               </tr>
           </thead>
           <tbody>
               <tr th:each="c : ${list}" th:onclick="|location.href='/community/detail/${c.id}'|">
                   <td th:text="${c.id}"></td>
                   <td th:text="${c.title}"></td>
                   <td th:text="${c.creator.name}"></td>
                   <td th:text="${c.hit}"></td>
                   <td th:text="${#temporals.format(c.createdAt, 'yyyy년 MM월 dd일')}"></td>
               </tr>
           </tbody>
       </table>
	   <a href="/community/write" class="btn btn-success">글쓰기</a>
	</div>
</html>