<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
	
<th:block layout:fragment="css">
	<link href="/css/form.css" rel="stylesheet" />
</th:block>

<main layout:fragment="main">
	<form action="/join" method="POST">
		<h4 class="mb-4">회원가입</h4>
		<!-- Name input-->
		<div class="form-floating mb-3">
			<input class="form-control" id="nickname" name="username" type="text" placeholder="" required />
			<label for="nickname">닉네임</label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" id="name" name="name" type="text" placeholder="" required />
			<label for="name">이름</label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="password" name="password" id="password" placeholder="" required />
			<label for="password">비밀번호</label>
		</div>
		<div class="d-grid">
			<button class="btn btn-primary btn-sm">가입하기</button>
		</div>
	</form>
</main>