<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<main layout:fragment="main">
	<h1>전체 스터디 그룹 리스트</h1>
		<form action="/study">
			<select name="sort">
				<option value="1">그룹명</option>
				<option value="2">리더 이름</option>
				<option value="3">시작일</option>
				<option value="4">종료일</option>
				<option value="5">스터디 기간</option>
			</select>
			<button>정렬</button>
		</form>
		<table class="table table-dark table-hover">
			<thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">스터디 그룹명</th>
			      <th scope="col">스터디 리더</th>
			      <th scope="col">시작일</th>
			      <th scope="col">종료일</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="sg : ${list}" role="button" th:onclick="|location.href='/study/' + ${sg.id}|">
			      <th scope="row">[[${sg.id}]]</th>
			      <td>[[${sg.name}]]</td>
			      <td>[[${sg.leader.name}]]</td>
			      <td>[[${sg.startedAt}]]</td>
			      <td>[[${sg.finishedAt}]]</td>
			    </tr>
			  </tbody>
		</table>
</main>